
    <ul>
        <li>
            Nombre: {{name}} 
        </li>

        <li>
            Apellido: {{surname}}
        </li>

        <li>
            Edad: {{age}}
        </li>

        <li>
            Email: {{email}}
        </li>

        <li>
            Cel: {{cel}}
        </li>
    </ul>